{% load django_bootstrap5 %}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BTCautoTrade</title>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                  <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
              </div>

              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'root' %}" class="nav-link px-2 link-secondary">Home</a></li>
              </ul>

              <div class="col-md-3 text-end">
                <ul class="nav nav-pills">
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}" class="nav-link">회원가입</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="nav-link">프로필</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">로그아웃</a>
                        </li>
                    {% endif %}
                </ul>
              </div>
            </header>
        </div>


        <div class="container">
            {% bootstrap_messages %}
            {% block content %}{% endblock %}

            <hr />
            &copy; 2023. All rights reserved.
        </div>
        <script>window.csrf_token = "{{ csrf_token }}";</script>
        <script src="{% static 'utils/alert-modal.js' %}"></script>
        {% block extra-script %}{% endblock %}
    </body>
</html>